@import '../../assets/styles/mixins.scss';

.root {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  color: #e52e6b;
  margin: 0;
  white-space: pre-wrap;
}

.fixed {
  position: fixed;
  background-color: #e52e6b;
  color: white;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 100;
  padding: 10px;
}
