@import './typography.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333459;
  background-color: #eeeff8;
}

body {
  display: flex;
  min-height: 100%;
}

#root {
  min-height: 100%;
  width: 100%;
}

img:not([src]) {
  opacity: 0;
}

h1 {
  line-height: 1;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
input:hover,
input:focus {
  border: none;
  outline: 0;
}

textarea,
textarea:hover,
textarea:focus {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
